<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Películas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/cpeliculasadmin.css">
</head>
<body>
  <!-- HEADER -->
  <header class="header">
    <div class="header-left">
      <!-- ICONO DEL SISTEMA -->
      <img src="../assets/img/cineadmin.svg" alt="icono cine">
      <h5 class="m-0">CineAdmin</h5>
    </div>

    <button class="back-button">
      <img src="../assets/img/arrow.svg">
      Atrás
    </button>
  </header>

  <!-- MAIN -->
  <main class="container my-5">
    <div class="form-section mx-auto" style="max-width: 800px;">
      <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
          <h4 class="fw-bold">
            Crear Películas 
            <image src="../assets/img/entrada.svg">
          </h4>
          <p class="text-muted mb-0">añade películas al catálogo de películas del sistema</p>
        </div>
      </div>

      <form id="formPelicula" class="row g-4">

        <!-- Columna izquierda -->
        <div class="col-md-6">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Película:</label>
            <input type="text" id="nombre" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="genero" class="form-label">Género:</label>
            <input type="text" id="genero" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="duracion" class="form-label">Duración:</label>
            <input type="text" id="duracion" class="form-control" placeholder="Ej: 2h 10min" required>
          </div>

          <div class="mb-3">
            <label class="form-label me-2">Estado:</label>
            <button type="button" id="btnActivo" class="estado-btn activo me-2">Activo</button>
            <button type="button" id="btnInactivo" class="estado-btn inactivo">Inactivo</button>
          </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-md-6">
          <label class="form-label">Insertar Imagen</label>
          <div class="upload-box" id="uploadBox">
            <img src="../assets/img/subir.svg" alt="Subir imagen">
          </div>
          <input type="file" id="imagen" accept="image/*" class="d-none">
        </div>

        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-crear">Crear</button>
        </div>
      </form>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/cpeliculasadmin.js"></script>

</body>
</html>
